In [4]:
import random

# Generate random prices for the books
df['Price'] = [random.randint(10, 100) for _ in range(len(df))]

# Print the updated DataFrame
print(df)

      Unnamed: 0  r_index  book_id                      authors  \
0              0        1  2767052              Suzanne Collins
1              1        2        3  J.K. Rowling, Mary GrandPr√©
2              2        3    41865              Stephenie Meyer
3              3        4     2657                   Harper Lee
4              4        5     4671          F. Scott Fitzgerald
...          ...      ...      ...                          ...
9269        9269     9996  7130616                Ilona Andrews
9270        9270     9997   208324               Robert A. Caro
9271        9271     9998    77431              Patrick O'Brian
9272        9272     9999  8565083              Peggy Orenstein
9273        9273    10000     8914                  John Keegan

                                         original_title  \
0                                      The Hunger Games
1              Harry Potter and the Philosopher's Stone
2                                              Twilight
3                                 To Kill a Mockingbird
4                                      The Great Gatsby
...                                                 ...
9269                                         Bayou Moon
9270                                   Means of Ascent
9271                              The Mauritius Command
9272  Cinderella Ate My Daughter: Dispatches from th...
9273                                The First World War

                                              image_url  average_rating  \
0     https://images.gr-assets.com/books/1447303603l...            4.34
1     https://images.gr-assets.com/books/1474154022l...            4.44
2     https://images.gr-assets.com/books/1361039443l...            3.57
3     https://images.gr-assets.com/books/1361975680l...            4.25
4     https://images.gr-assets.com/books/1490528560l...            3.89
...                                                 ...             ...
9269  https://images.gr-assets.com/books/1307445460l...            4.09
9270  https://i.gr-assets.com/images/S/compressed.ph...            4.25
9271  https://images.gr-assets.com/books/1455373531l...            4.35
9272  https://images.gr-assets.com/books/1279214118l...            3.65
9273  https://images.gr-assets.com/books/1403194704l...            4.00

      ratings_count                   genre  \
0           4780653        fiction, fantasy
1           4602479        fantasy, fiction
2           3866839        fantasy, fiction
3           3198671       classics, fiction
4           2683664       classics, fiction
...             ...                     ...
9269          17204        fantasy, romance
9270          12582      biography, history
9271           9421        fiction, history
9272          11279  nonfiction, psychology
9273           9162     history, nonfiction

                                                   desc  Price
0     In a future North America, where the rulers of...    300
1     Rescued from the outrageous neglect of his aun...    900
2     With 160 million copies of the Twilight Saga s...    900
3     The unforgettable novel of a childhood in a sl...    400
4     A young man newly rich tries to recapture the ...    700
...                                                 ...    ...
9269  When her parents vanish, Cerise Mar becomes tr...    100
9270  Traces Johnson's life from his Texas childhood...    300
9271  During the Napoleonic wars, British naval capt...    100
9272  The acclaimed author of the groundbreaking bes...    200
9273  A history of the Great War chronicles the even...    100

[9274 rows x 11 columns]